<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <h2>Contact</h2>
    <form>
      <div class="name">
        <label for="name">Name: </label>
        <input type="text" id="name" />
      </div>
      <div class="email">
        <label for="email">Email: </label>
        <input type="email" id="email" />
      </div>
      <div class="phone">
        <label for="phone">Phone: </label>
        <input type="tel" id="phone" />
      </div>
      <div class="submit">
        <button type="Submit">Submit</button>
      </div>
    </form>
  </body>
</html>
